:root {
  --color-1: #0F0B08;
  --color-2: #074B46;
  --color-3: #76A29F;
  --color-4: #FBF0CA;
  --color-5: #FEB302;
  --color-6: #FF5D3E;
  --font-family-1: 'Inter', sans-serif;
  --font-family-2: 'PT Sans', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family-2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}