:root {
  --font-family-1: 'Inter', sans-serif;
  --font-family-2: 'PT Sans', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family-2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}